body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;

    background-image: radial-gradient(
        circle,
        white 12%,
        rgb(253, 212, 119) 50%,
        rgb(253, 179, 119) 100%
    );
}
button {
    cursor: pointer;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
